{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
  <title>FLOOSY | Home</title>
</head>
<body>

  <!-- Navbar ---------->
  <section class="bg-primary">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark bg-transparent">

        <a class="navbar-brand mt-1" href="index.html">FLOOSY<img class="mb-1 ml-1" src="imgs/logo-icon.svg" alt=""></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link mt-1" href="index.html">
                <img class="mb-1 mr-1" src="{% static 'imgs/wallets-icon.svg' %}" alt="">Wallets<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mt-1" href="tickets.html"><img class="mb-1 mr-1" src="imgs/tickets-icon.svg" alt="">Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mt-1" href="stats.html"><img class="mb-1 mr-1" src="imgs/stats-icon.svg" alt="">Stats</a>
            </li>

            <li class="nav-item ml-md-4">
              <a class="nav-link mt-1" href="#">
                <span>Mohamed A.</span>
                <img id="userAvatar" class="rounded-circle ml-2" src="imgs/avatar.jpg" alt="User's Avatar">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>


  <section>
    <div class="container">

      <div class="row mt-4">
        <div class="col-12">
          <h5 class="sectionHeading m-0">Stats</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="block bg-white my-4 rounded">
            <div class="blockContent p-4">
              <form>

                <div class="form-row">
                  <div class="form-group col-lg-4">
                    <label for="inputDateFrom">From</label>
                    <input type="date" class="form-control" id="inputDateFrom">
                  </div>

                  <div class="form-group col-lg-4">
                    <label for="inputDateTo">To</label>
                    <input type="date" class="form-control" id="inputDateTo">
                  </div>

                  <div class="form-group col-lg-4">
                    <label for="inputWallet">Wallet</label>
                    <select id="inputWallet" class="form-control">
                      <option selected>Choose...</option>
                      <option>Wallet 1</option>
                      <option>Wallet 2</option>
                      <option>Wallet 3</option>
                    </select>
                  </div>

                  <div class="form-group col-12">
                    <button type="submit" class="btn btn-primary mt-2 col-12"><strong>SUBMIT</strong></button>
                  </div>

                </div>
              
            </form>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">

        <div class="col-12 col-md-4">
          <div class="block bg-white my-4 rounded">
            <h5 class="blockHeading p-3 text-center text-primary">Total Balance</h5>
            <div class="blockContent p-4 text-center">
              <h2 class="text-primary"><strong>5,145.60</strong></h2>
              <h5><strong>USD</strong></h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-8">
          <div class="block bg-white my-4 p-4 rounded">
            <canvas id="statsPieChart"></canvas>
          </div>
        </div>

      </div>



      <div class="row">
        <div class="col-12">
          <div class="block bg-white my-4 rounded">
            <div id="progressChart" class="blockContent p-4">
              <div class="row">

                <div class="col-md-2 py-1">
                  <span><strong>Home</strong></span>
                </div>
                <div class="col-md-10">
                  <div class="progress mb-3">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 80%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <span class="p-2">350 USD</span>
                  </div>
                </div>

                <div class="col-md-2 py-1">
                  <span><strong>Food</strong></span>
                </div>
                <div class="col-md-10">
                  <div class="progress mb-3">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <span class="p-2">350 USD</span>
                  </div>
                </div>

                <div class="col-md-2 py-1">
                  <span><strong>Entertainment</strong></span>
                </div>
                <div class="col-md-10">
                  <div class="progress mb-3">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 55%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <span class="p-2">350 USD</span>
                  </div>
                </div>

                <div class="col-md-2 py-1">
                  <span><strong>Shopping</strong></span>
                </div>
                <div class="col-md-10">
                  <div class="progress mb-3">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 50%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <span class="p-2">350 USD</span>
                  </div>
                </div>

                <div class="col-md-2 py-1">
                  <span><strong>Bills</strong></span>
                </div>
                <div class="col-md-10">
                  <div class="progress mb-3">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 40%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <span class="p-2">350 USD</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <footer class="bg-white mt-5 py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="m-0">Copyright © <strong>FLOOSY</strong> 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartStats.js' %}"></script>
</body>
</html>