{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %} | {{wallet.name}}-Stats{% endblock title %}
{% block content %}
<section>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <h5 class="sectionHeading m-0">Stats</h5>
      </div>
    </div>
    <div class="row">
      <div class="block col-4 col-md-4 my-4 rounded">
        <div class="card mt-2">
          <div class="card-header blockHeading p-3 text-center text-primary" >
            This week
          </div>
          <div class="card-body">
            <p class="card-text text-center">{% if week_sum %}{{week_sum}}{% else %}No Matching Data{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-4 my-4 rounded">
        <div class="card mt-2">
          <div class="card-header  blockHeading p-3 text-center text-primary">
            THIS MONTH
          </div>
          <div class="card-body">
            <p class="card-text text-center">{% if month_sum %}{{month_sum}}{% else %}No Matching Data{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-4 my-4 rounded">
        <div class="card mt-2">
          <div class="card-header  blockHeading p-3 text-center text-primary">
            THIS YEAR
          </div>
          <div class="card-body">
            <p class="card-text text-center">{% if year_sum %}{{year_sum}}{% else %}No Matching Data{% endif %}</p>
          </div>
        </div>
      </div>
    </div>
    <!--     <div class="row">
      <div class="col-12">
        <div class="block bg-white my-4 rounded"> -->
          <!--           <div class="blockContent p-4">
            -->            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-lg-4">
                  <label for="inputDateFrom">From</label>
                  <input type="date" class="form-control" id="inputDateFrom" name="from" required>
                </div>
                <div class="form-group col-lg-4">
                  <label for="inputDateTo">To</label>
                  <input type="date" class="form-control" id="inputDateTo" name="to" max="{{today}}" onchange="dateHandler()" required>
                </div>
                <div class="form-group col-lg-4">
                  <label for="inputWallet">Kind</label>
                  <select id="inputWallet" class="form-control" name="kind" required>
                    <option selected>Choose...</option>
                    <option>Expenses</option>
                    <option>Income</option>
                  </select>
                </div>
                <div class="form-group col-12">
                  <button type="submit" class="btn btn-primary mt-2 col-12"><strong>SUBMIT</strong></button>
                </div>
              </div>
            </form>
          <!--           </div>
        --><!--         </div>
      </div>
    </div> -->
    {% if expense %}
      <div class="row mt-4">
        <div class="col-12">
          <h5 class="sectionHeading m-0">EXPENSES</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 my-4 rounded">
          <div class="card mt-2">
            <div class="card-header blockHeading p-3 text-center text-primary">
              Total
            </div>
            <div class="card-body">
              {% if expenses_total %}
              <p class="card-text text-center">{{expenses_total}}</p>
              {% else %}
              <p class="card-text text-center">No Matching Data</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 my-4 rounded">
          <div class="card mt-2">
            <div class="card-header blockHeading p-3 text-center text-primary">
              Maximum Card Date
            </div>
            <div class="card-body">
              {% if max_expense_date %}
              <p class="card-text text-center">{{max_expense_date|date:"d M-y"}}</p>
              {% else %}
              <p class="card-text text-center">No Matching Data</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 my-4 rounded">
          <div class="card mt-2">
            <div class="card-header blockHeading p-3 text-center text-primary">
              Maximum Card Value
            </div>
            <div class="card-body">
              <p class="card-text text-center">{{max_expense_value}}</p>
            </div>
          </div>
        </div>
{% if graph %}
        <div class="col-12 col-md-6">
          <div class="block bg-white my-4 p-4 rounded" >
            <canvas id="statsPieChart"></canvas>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="block bg-white my-4 p-4 rounded" >
            <canvas id="stats2PieChart"></canvas>
          </div>
        </div>
{% endif %}

      </div>
    {% endif %}
    {% if income %}
      <div class="row mt-4">
        <div class="col-12">
          <h5 class="sectionHeading m-0">INCOME</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 my-4 rounded">
          <div class="card mt-2">
            <div class="card-header blockHeading p-3 text-center text-primary">
              Total
            </div>
            <div class="card-body">
              {% if income_total %}
              <p class="card-text text-center">{{income_total}}</p>
              {% else %}
              <p class="card-text text-center">No Matching Data</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 my-4 rounded">
          <div class="card mt-2">
            <div class="card-header blockHeading p-3 text-center text-primary">
              Maximum Card Date
            </div>
            <div class="card-body">
              {% if max_income_date %}
              <p class="card-text text-center">{{max_income_date|date:"d M-y"}}</p>
              {% else %}
              <p class="card-text text-center">No Matching Data</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 my-4 rounded">
          <div class="card mt-2">
            <div class="card-header blockHeading p-3 text-center text-primary">
              Maximum Card Value
            </div>
            <div class="card-body">
              <p class="card-text text-center">{{max_income_value}}</p>
            </div>
          </div>
        </div>

{% if graph %}

        <div class="col-12 col-md-6">
          <div class="block bg-white my-4 p-4 rounded" >
            <canvas id="stats3PieChart"></canvas>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="block bg-white my-4 p-4 rounded" >
            <canvas id="stats4PieChart"></canvas>
          </div>
        </div>
{% endif %}
      </div>
    {% endif %}
  </div>
</section>
{% endblock content %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script type="text/javascript">

var start_date = document.getElementById('inputDateFrom');
var end_date = document.getElementById('inputDateTo');


function dateHandler() {

console.log(start_date.value);
console.log(end_date.value);

if(end_date.value<start_date.value){
  alert('End date is before start date')

}


}





// Expenses_Category_Chart

if (document.getElementById('statsPieChart') !== null){

var ctx = document.getElementById('statsPieChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'horizontalBar',
data: {
datasets: [{
data: [{% for k,v in categories_expenses.items %}'{{v}}',{% endfor %}],
backgroundColor: ['#dc3545','#fd7e14','#ffc107','#28a745','#007bff'],
label: 'Categories'
}],
labels: [{% for k,v in categories_expenses.items %}'{{k}}',{% endfor %}]
},
options: {
legend: {
display:false,
align: 'start',
position: 'right',
},
scales: 
{
xAxes:
[{
gridLines: {
display:true
}
}]
,
yAxes:
 [{
gridLines: {
display:true
}
}]
// [{ticks: {mirror: true}}]
}
}
});

}

// Expenses_Date_Chart

if (document.getElementById('stats2PieChart') !== null){

var data = '{{expenses_log}}'
var chartData = JSON.parse(data.replace(/(&quot\;)/g,"\""));

chartData.forEach((d) => {
d.x = new Date(d.date);
});
console.log(chartData)
var ctx2 = document.getElementById('stats2PieChart').getContext('2d');
var myChart2 = new Chart(ctx2, {
type: 'bar',
data: {
datasets: [
{
label: 'Date Log',
data: chartData,
backgroundColor: '#fd7e14',
},
],
},
options: {
legend: {
display:false,
align: 'start',
position: 'right',
},
// responsive: true,
scales: {
xAxes: [
{
type: 'time',
time: {
unit: 'day',
round: 'day',
displayFormats: {
day: 'D-MMM-Y',
},
},
},
],
yAxes: [
{
ticks: {
beginAtZero: true,
},
},
],
},
},
});

}

// Income_Category_Chart

if (document.getElementById('stats3PieChart') !== null){

var ctx = document.getElementById('stats3PieChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'horizontalBar',
data: {
datasets: [{
data: [{% for k,v in categories_incomes.items %}'{{v}}',{% endfor %}],
backgroundColor: ['#dc3545','#fd7e14','#ffc107','#28a745','#007bff'],
label: 'Categories'
}],
labels: [{% for k,v in categories_incomes.items %}'{{k}}',{% endfor %}]
},
options: {
legend: {
align: 'start',
position: 'right',
display:false,
},
scales: {
xAxes: [{
gridLines: {
display:true
}
}],
yAxes: [{
gridLines: {
display:true
}
}]
}
}
});

}

// Income_Date_Chart

if (document.getElementById('stats4PieChart') !== null){

var data = '{{incomes_log}}'
var chartData = JSON.parse(data.replace(/(&quot\;)/g,"\""));

chartData.forEach((d) => {
d.x = new Date(d.date);
});

var ctx2 = document.getElementById('stats4PieChart').getContext('2d');
var myChart2 = new Chart(ctx2, {
type: 'bar',
data: {
datasets: [
{
label: 'new subscribers',
data: chartData,
backgroundColor: '#fd7e14',
},
],
},
options: {
legend: {
align: 'start',
position: 'right',
display:false,
},
// responsive: true,
scales: {
xAxes: [
{
type: 'time',
time: {
unit: 'day',
round: 'day',
displayFormats: {
day: 'D-MMM,Y',
},
},
},
],
yAxes: [
{
ticks: {
beginAtZero: true,
},
},
],
},
},
});

}

</script>
{% endblock javascript %}