{% extends 'base.html' %}
{% load static %}
{% block title %} | Delete-Wallet{% endblock title %}
{% block content %} 


    <div class="content-section mt-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
<!--                 <legend class="border-bottom mb-4">Wallet Delete</legend>
 -->                <h3>Are you sure you want to delete the <span style="color: red">{{object.name}} wallet</span> ?</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-default" href="{% url 'tracker:wallets' %}" >Cancel</a>

            </div>
        </form>
    </div>


   <!--  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input class= 'btn btn-danger'type="submit" value="Confirm">
    <a calss='btn btn-default' href='#'>Cancel</a>
    </form> -->

{% endblock content %}